#contact-top {
    background-color: #427693;
    width: 100%;
    text-align: center;
    }
    
    main {
        background-color: #e6e6e6;
    }


    #contact-top h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        color: white;
        padding: 10px 0 10px 0;
    }
    
    .line-style-2 {
        width: 50%;
        height: 3px;
        margin: 0 auto;
        background-color: white;
        margin-bottom: 75px;
    }
    
    
    #contactcards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    }
    
    #contactcards h2 {
        font-size: 25px;
        padding-bottom: 10px;
    }
    
    #contactcards p {
        font-family: 'Oswald', sans-serif;
        color: white;
        padding-bottom: 100px;
    }
    
    #emailformbod {
        padding: 100px 0 100px 0;
    }
  
    #email-form-body {
        width: 75%;
        margin: 0 auto;
        background-color: #e6e6e6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .emailiconimg {
        margin-right: 40px;
    }

    .containerc {
        margin-left: 40px;
    }
    
    
    form {
        text-align: left;
        padding: 20px 10px;
    }
    
    input,textarea,label {
        display: block;
        
    }

   #name,
   #email,
   #subject {
    height: 22px;
   }
    
    #butn {
        background-color: #427693;
        padding: 7px 4px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        border: none;
        margin-top: 10px;
        width: 400px;
    }
    
    #butn:hover {
        background-color: #934276;
    }
    
    #emailformheader {
        font-size: 45px;
        color:#427693;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    
    input,textarea {
        color: black;
        width: 400px;
        border: none;
        border-radius: 3px;
        margin-top: 5px;
    }


    /*form was too wide for ipad mini or surface sized screens so Had to make some minor adjustments at this breakpoint */


    @media screen and (max-width: 992px){
        input,textarea {
            width: 320px;
        
        }

        #emailformbod {
            padding: 300px 0;
        }

        #email-form-body {
            width: 80%;
        }

      


    }



    @media screen and (max-width: 576px) {
        #contactcards {
            flex-direction: column;
           align-items:flex-start;
        }

        .contactlinks {
            display: flex;
            justify-content: center;
            text-align: left;
        }

        .contactlinks-row2 {
            margin-left:  20px;
            margin-top: 10px;
        }


        #email-form-body {
            flex-direction: column;
        }

        input,textarea {
            width: 400px;
        }

        .containerc {
            margin-left: 0;
        }

        .emailiconimg {
            margin-right: 0;
        }

        #emailformbod {
            padding: 100px 0;
        }

        #emailformheader {
            margin-bottom: 0.25em;
            margin-top: 1em;
        }


    }