#gd-top {
  background-image: url(../images/graphicdesignheader.jpg);
  text-align: center;
}

#gd-top h1 {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4em;
  padding: 100px 0 100px 25px;

}

/* #drink-campaign-head {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

#drink-campaign-head h1 {
  color: #427693;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4em;
  font-weight: 500;
  padding-left: 20px;
  margin-top: 8px;
}

.drink-campaign-largepic {
  display: flex;
  width: 70%;
  margin: 20px auto;
  justify-content: center;
}


#front-can-head {
  width: 27.4%;
  margin-right: 0.25rem;
}

#poster-head {
  width: 72.6%;
  margin-left: 0.25rem;
} */


#drink-campaign-description {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
}

#drink-campaign-description p {
  max-width: 700px;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0.25em;
}

#pepsi-earth {
  border: 2px solid #427693;
  max-width: 400px;
}

#drink-camp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;

}

#drink-campaign-heading-1 {
  color: #427693;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4em;
  margin-left: .5em;
  margin-top: 7px;
}

#cups-icon {
  height: 4.5em;
}

#drink-camp-mobile {
  display: none;

}

#cups-icon-mobile {
  height: 3em;
}

#drink-campaign-heading-1-mobile {
  color: #427693;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.5em;
  margin-left: .5em;
  margin-top: 7px;
}

#drink-campaign-main {
  display: grid;
  width: fit-content;
  margin: 20px auto 0 auto;
  grid-template: repeat(6, minmax(50px, 225px)) / repeat(5, minmax(50px, 225px));
  grid-gap: 10px;
  background-color: #e6e6e6;
  padding: 10px;
}

#drink-campaign-description-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 3rem;
}

#photo1 {
  grid-column: 1 /5;
  grid-row: 1/3;

}

#photo5 {
  grid-column: 4/6;
}

#photo13 {
  grid-column: 1 / -1;
  grid-row: 5 / 7;
  max-height: 500px;
}


/*i like how grid let you define an items size based on its column and row layout. you don't have to give the image a fixed size which is nice */

#first-photo {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.twohundred {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#fourth-photo {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#fifth-photo {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

#thirteenth-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}


#gallery-or-slider {
  width: 80%;
  margin: 0 auto;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  background-color: #e6e6e6;
  align-items: center;
  cursor: pointer;
}

#slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #427693;
  border-right: solid 1px white;
}

#galery-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #427693;
}

#galery-btn:hover {
  background-color: #934276;
}

#slider-btn:hover {
  background-color: #934276;
}

.active-galorslider {
  background-color: #934276 !important;
}


/*carousel*/

#campaign-slider {
  padding: 10px;
  background-color: #efefef;
  width: 80%;
  margin: 20px auto 0 auto;
}

.carousel {
  width: 100%;
  height: 485px;
  position: relative;

}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel>ul {
  margin: 0;
  padding: 0;
}

.carousel-button {
  z-index: 3;
  width: 22px;
  height: 70px;
  background-color: #efefef;
  opacity: 0.6;
  border: none;
  cursor: pointer;
}

.carousel-button:hover {
  opacity: 1;

}

.next {
  position: absolute;
  top: 50%;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  position: absolute;
  top: 50%;
  left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-button-style {
  width: 18px;
  height: 45px;
  background-image: url('../images/graphic-design-slider/arrow-right.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

.prev-button-style {
  width: 18px;
  height: 45px;
  background-image: url('../images/graphic-design-slider/arrow-left.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;

}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
  z-index: 2;
}



/*/carousel */

#otherwork {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

.other-work-card {
  border: 7px solid #427693;
  max-width: 400px;
  margin: 20px 0;
  flex-grow: 1;
}


.other-work-card img {
  width: 100%;
  object-fit: cover;
}

.other-work-card-content p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  padding: 10px;
}

.other-work-card-title {
  background-color: #427693;
  text-align: center;
}

.other-work-card-title h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 35px;
  padding: 10px 0;
}

.work-button {
  margin-bottom: 0.25em;
}

#lordofflies {
  border: solid 1px black;
}

.work-button {
  background-color: #769342;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin-left: 5px;
}

.work-button:hover {
  background-color: #934276;
}

.work-button:active {
  background-color: #93424d;
}

#more-work {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background-color: #e6e6e6;

}

#posters {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

details {
  background-color: #427693;
  color: white;
  padding: 0.25em
}


#infographdets[open] {
  width: 270px;
}

#wsultrdets[open] {
  width: 270px;
}

#skiresortdets[open] {
  width: 226px;
}

#postercomicdets[open] {
  width: 226px;
}

#usvsjpndets[open] {
  width: 226px;
}

.poster-card img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#infographic {
  background-image: url(../images/project-images/infographicweb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 350px;
}

#wsuletter {
  background-image: url(../images/project-images/wsuletterweb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 350px;
}

#skiresortsite {
  background-image: url(../images/project-images/p7\ tweeeeet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 226px;

}

#postercomic {
  background-image: url(../images/project-images/postercomicweb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 226px;
}

#usvsjapaninfographic {
  background-image: url(../images/project-images/America\ vs\ japan\ infographic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 226px;
}


#more-designs {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.more-design-card {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 1;
  margin: 10px 0;
}

.more-design-content-mobile {
  display: none;
}



.more-design-card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/*since I want content to be able to appear on top, I used background image. */
#web-comic {
  background-image: url(../images/project-images/comicpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#Lapell {
  background-image: url(../images/project-images/Lappel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#findyourhigh {
  background-image: url(../images/project-images/High.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#albumcover {
  background-image: url(../images/project-images/albumcoverweb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .more-design-card-content {
  background-color: #427693;
  opacity: 0.8;
  width: 100%;
  height: 30%;
  padding: 10px;

} */

.poster-container {
  display: flex;
  flex-direction: column;
}

.more-design-card h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 20px;
}

.more-design-card p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: white;
  padding: 0 20px;
  margin-top: 10px;
}

/*the content which is a description of the project only shows up when hovered over. */

.more-design-card-content {
  display: none;
}



@media screen and (min-width:992px) {
  .more-design-card:hover>.more-design-card-content {
    display: flex;
    flex-direction: column;
    background-color: #427693;
    opacity: 0.8;
    width: 100%;
    height: 30%;
    padding: 10px;
  }

  .more-design-card-content:hover {
    opacity: 1;
  }
}

@media screen and (max-width:1200px) {
  #campaign-slider {
    padding: 10px;
    background-color: #efefef;
    width: 95%;
    margin: 0 auto;
  }

  .carousel {
    width: 100%;
    height: 385px;
    position: relative;

  }

  #gallery-or-slider {
    width: 95%;
  }

  #drink-campaign-description {
    width: 90%;
    margin: 0 auto;
  }
}


@media screen and (max-width:992px) {

  #drink-campaign-heading-1 {
    font-size: 2em;
  }

  #cups-icon {
    height: 2.25em;
  }

  #drink-campaign-description p {
    font-size: 14px;
  }


  #drink-campaign-description {
    width: 95%;
    margin: 3rem auto;
  }

  #drink-campaign-main {
    grid-template: repeat(5, minmax(50px, 200px)) / repeat(4, minmax(50px, 200px));
  }

  .more-design-card-content {
    display: none;
  }

  #photo1 {
    grid-area: 1 / 1 / 3 / 5;
  }

  #photo13 {
    grid-column: 1 / -1;
    grid-row: 6 / 8;
    max-height: 400px;
  }

  #photo5 {
    grid-area: 5 / 3 / 6 / 5;
  }

  .other-work-card {
    width: 300px;
  }

  #wsuletter {
    width: 392px;
    height: 508px;
  }

  #infographic {
    width: 392px;
    height: 508px;
  }

  #skiresortsite {
    width: 250px;
    height: 387px;
  }

  #postercomic {
    width: 250px;
    height: 387px;
  }

  #usvsjapaninfographic {
    width: 250px;
    height: 387px;
  }

  #infographdets[open] {
    width: 392px;
  }

  #wsultrdets[open] {
    width: 392px;
  }

  #skiresortdets[open] {
    width: 250px;
  }

  #postercomicdets[open] {
    width: 250px;
  }

  #usvsjpndets[open] {
    width: 250px;
  }

  #more-designs {
    justify-content: center;
  }

  .drink-campaign-largepic {
    width: 90%;
  }


  #campaign-slider {
    padding: 10px;
    background-color: #efefef;
    width: 95%;
    margin: 0 auto;
  }

  .carousel {
    width: 100%;
    height: 350px;
    position: relative;

  }


  .more-design-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #427693;
    width: 600px;
    max-height: 150px;
    padding: 10px;
  }

  .more-design-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .more-design-card-content {
    display: none;
  }

  .more-design-content-mobile p {
    color: white;
  }

  .more-design-card {
    margin: 0;
  }

}


.poster-container {
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {

  #drink-campaign-description {
    width: 95%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #drink-camp-mobile {
    display: flex;
    margin: 2em auto 1em auto;
  }

  #drink-campaign-description-2 {
    align-items: center;
    margin: 2rem 0 2rem 0;
  }

  #drink-campaign-description-2 p {
    margin-top: 0.5em;
    max-width: 500px;
    font-size: 16px;
    text-align: center;
  }

  #drink-camp {
    display: none;
  }

  #pepsi-earth {
    width: 500px;
  }


  #cups-icon-mobile {
    height: 3.5em;
  }

  #drink-campaign-heading-1-mobile {
    font-size: 3em;
  }


  .next {
    position: absolute;
    top: 30%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prev {
    position: absolute;
    top: 30%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #wsuletter {
    width: 325px;
    height: 421px;

  }

  #infographic {
    width: 325px;
    height: 421px;

  }


  #skiresortsite {
    width: 210px;
    height: 325px;
  }

  #postercomic {
    width: 210px;
    height: 325px;
  }

  #usvsjapaninfographic {
    width: 210px;
    height: 325px;
  }

  #infographdets[open] {
    width: 325px;
  }

  #wsultrdets[open] {
    width: 325px;
  }

  #skiresortdets[open] {
    width: 210px;
  }

  #postercomicdets[open] {
    width: 210px;
  }

  #usvsjpndets[open] {
    width: 210px;
  }

  .drink-campaign-largepic {
    width: 95%;
  }

  #gd-top h1 {
    font-size: 3em;
  }

  #drink-campaign-head h1 {
    font-size: 3em;
  }



  #campaign-slider {
    padding: 10px;
    background-color: #efefef;
    width: 99%;
    margin: 0 auto;
  }

  .carousel {
    width: 100%;
    height: 280px;
    position: relative;

  }

  #gallery-or-slider {
    width: 99%;
  }

  .more-design-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #427693;
    width: 600px;
    max-height: 150px;
    padding: 10px;
  }

  .more-design-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .more-design-card-content {
    display: none;
  }

  .more-design-content-mobile p {
    color: white;
  }

  .more-design-content-mobile h3 {
    color: white;
  }

  .more-design-card {
    margin: 0 auto;
  }

  #otherwork {
    width: 99%;
    margin: 0 auto;
  }

  #more-work {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
}






@media screen and (max-width:576px) {
  #posters {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #skiresortsite,
  #postercomic,
  #usvsjapaninfographic {
    width: 270px;
    height: 418px;
    margin: 0 auto;
  }

  #wsuletter {
    width: 270px;
    height: 350px;
  }

  #infographic {
    width: 270px;
    height: 350px;
  }

  #infographdets[open] {
    width: 270px;
  }

  #wsultrdets[open] {
    width: 270px;
  }

  #skiresortdets[open] {
    width: 270px;
  }

  #postercomicdets[open] {
    width: 270px;
  }

  #usvsjpndets[open] {
    width: 270px;
  }

  #more-designs {
    justify-content: center;
  }

  .more-design-card {
    width: 300px;
    height: 300px;
  }

  .more-design-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #427693;
    width: 300px;
  }

  #drink-campaign-main {
    display: grid;
    grid-template: repeat(7, 190px) / 190px 190px;
  }

  #photo1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #photo5 {
    grid-area: 7 / 1 / 8 / 3;
  }

  #photo13 {
    grid-column: 1 / -1;
    grid-row: 8 / 9;
    max-height: 380px;
  }

  .more-design-card-content {
    height: 50%;
  }

  .drink-campaign-largepic {
    width: 90%;
  }


  .carousel {
    width: 100%;
    height: 220px;
    position: relative;

  }


  #pepsi-earth {
    max-width: 500px;
  }

  #cups-icon-mobile {
    height: 2.75em;
  }

  #drink-campaign-heading-1-mobile {
    font-size: 2.5em;
  }

  #more-designs {
    width: 95%;
    margin: 2em auto;
  }

  .more-design-card {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 1;
    /* margin: 10px 0; */
  }

  .more-design-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #427693;
    width: 500px;
    max-height: 150px;
    padding: 10px;
  }


}

@media screen and (max-width:450px) {
  #pepsi-earth {
    max-width: 380px;
  }
}

@media screen and (max-width:400px) {
  .other-work-card {
    width: 350px;
  }

  .more-design-card {
    width: 350px;
    height: 350px;
  }

  #cups-icon-mobile {
    height: 2.5em;
  }

  #drink-campaign-heading-1-mobile {
    font-size: 2.25em;
  }

  .more-design-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #427693;
    width: 350px;
    max-height: 150px;
    padding: 10px;
  }

  #gd-top h1 {
    font-size: 2.5em;
  }


  .carousel {
    width: 100%;
    height: 155px;
    position: relative;

  }



  #drink-campaign-main {
    display: grid;
    grid-template: repeat(7, 170px) / 170px 170px;
  }

  #pepsi-earth {
    max-width: 350px;
  }

}


@media screen and (max-width:300px) {
  #pepsi-earth {
    max-width: 250px;
  }

  #cups-icon-mobile {
    height: 2.25em;
  }

  #drink-campaign-heading-1-mobile {
    font-size: 2em;
  }


}