#projects-top {
    background-image: url(../images/project-images/gdtopback.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects-top h1 {
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    padding: 100px 0 100px 25px;
   
}


.tab-button {
    color: white;
}


#cnct4 a {
color: black;
}


#projpic {
    width: 100%;
    height: auto;
}



.tabs {
    border: 1px solid lightblue;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto 50px auto;
    background-color: #bddbe5;
   
}

.tabs__sidebar {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    background-color: #b9d4db;
}



.tabs__button {
    display: block;
    padding: 10px;
    border: none;
    width: 100%;
    background: #427693;
    outline: none;
    cursor: pointer;
    color: white;
    border-right: 1px solid white;
}

.tabs__button:hover {
    background-color: #934276;
}

.tabs__button:active {
    background-color: #934276;
    font-weight: bold;
    border-right: 2px solid green;
}


.tabs__content {
    padding-top: 15px;
    font-size: 0.8rem;
    display: none;
}

.tabs__content--active {
    display: flex;
    width: 100%;
}

.tabs__content > :first-child {
    margin-top: 0;
}





.rect7 {
    background-color: #934276;
    width: 350px;
    height: 8px;
    margin-top: 10px;
}

.rect8 {
    background-color: #769342;
    width: 190px;
    height: 8px;
    margin-top: 7px;
    margin-bottom: 25px;
}


.tbctent {
    width: 80%;
    height: auto;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
    background-color: #bddbe5;
    padding: 65px;
}


.tbctent p{
    width: 400px;
    height: auto;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
}

.proj-titles {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 500;
}

.tbctent button {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: #769342;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tbctent button:hover{
    background-color: #934276;
}


.cta {
    color: white;
}


.projects2 {
padding-top: 10px;
margin-left: 3rem;
}



.containera{
    position: relative;
    width: 80%;
    margin: 0 auto 100px auto;
    height: auto;
}

.mySlides {
    display: none;
}




.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #427693;
    padding: 16px 16px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  #projectsgalleryhead {
    font-size: 20px;
    padding: 10px 0;
    width: 80%;
    margin: 10px auto 0 auto;
    text-align: center;
    background-color: #934276;

  }

  #projectsgalleryhead h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 500;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  @media screen and (max-width: 992px) {




    .tabs {
        width: 90%;
        margin: 1em auto;
    }

    #GD-tab {
        width: 150px;
        height: 150px;
    }

    #WD-tab {
        width: 180px;
        height: 138px;
    }

    #UX-tab {
        width: 214px;
        height: 138px;
    }

    .containera {
        width: 90%;
    }
    .tbctent p {
        width: 300px;

    }

    .rect7 {
        width: 225px;
    }

    .rect8 {
        width: 185px;
    }
  }


  @media screen and (max-width: 768px) {
    .tabs {
        width: 95%;
    }

    .containera {
        width: 100%;
    }

    .rect7 {
        width: 200px;
    }

    .rect8 {
        width: 170px;
    }


    .tbctent p {
        width: 250px;
        font-size: 14px;
    }

    .tab-img {
        margin-right: 1em;
    }

    .tbctent {
        padding: 20px;
    }
  }


  @media screen and (max-width: 576px) {
    .tbctent {
        width: 100%;
        display: flex;
        justify-content: center;


    }

    .tabs {
        width: 100%;
        margin: 1em auto;
    }

    .tab-img {
        display: none;
    }

    .tbctent p {
        width: 300px;
        font-size: 14px;
    }

    .containera {
        width: 100%;
    }

    .rect7 {
        width: 225px;
    }

    .proj-titles {
        font-size: 2.5em;
    }
  }

  @media screen and (max-width: 400px) {
    .tbctent {
        width: 100%;
    }

    .proj-titles {
        font-size: 2.5em;
    }
  }