#projects-top {
    background-image: url(../images/Project-images/gdtopback.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects-top h1 {
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    padding: 100px 0 100px 25px;
   
}

