#YAAANAtop {
    width: 70%;
    margin: 50px auto 40px auto;
    display: flex;
    justify-content: space-between;
 }

 #yaaanarow1 {
    margin-top: 50px;
 }

 #yaaanarow1 h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    padding-bottom: 10px;
    color: #427693;
 }

 #yna {
    width: 400px;
    height: auto;
    font-size: 22px;
    padding-bottom: 40px;
    font-family:'Oswald', sans-serif;
    color: black;

 }

 #yaaanarow1 p {
    font-family:'Oswald', sans-serif;
    padding-bottom: 40px;
   
 }

 #yaaanarow1 button{
    height: 35px;
    width: 100px;
    background-color: #337382;
    color: white;
    border: none;
    font-family: 'Oswald', sans-serif;
 }

 #yaaanarow1 button:hover{
    background-color:#CD5360;
 }

 #YAAANAbod {
    width: 70%;
    margin: 0 auto 100px auto;
    display: flex;
 }

 #yanbodrow1 {
    margin-right: 40px;

 }

 #yanbodrow1 img{ 
    padding: 5px;
    border: 7px solid lightgrey;
 }

 #yanbodrow2 h2{
    font-family:'Oswald', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
 }

 #yanbodrow2 p{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.5;
 }

 .read-more {
   background-color: white;
   color: #427693;
   border: none;
   border-radius: 20px;
   padding: 0.25em 1em;
   font-family: 'Oswald', sans-serif;
   
 }

 .read-more:hover {
   background-color: #93424d;
   color: white;
 }
 
 #wdtop {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    padding-bottom: 150px;
   font-size: 25px;
   color: #438496;
   width: 100%;
   height: 300px;
 }

 #wdtop h1{
   padding-top: 115px;
    color: white;
    font-size: 50px;
 }



 #yanbodrow2 a{
    color: blue;
    text-decoration: underline;
 }


#ynawork {
    color: black;
}

#sitesandapps {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   background-color: #e6e6e6;
   padding: 3em;
   width: 90%;
   margin: 0 auto;
}




.web-project {
   display: flex;
   flex-direction: column;
   padding: .5em;
   
}

.web-project h4 {
   margin: 1em 0;
}

.hide {
   display: none;
}

.image-border {
   border: 1px solid #427693;
}

.show-more {
   background-color: #427693;
   opacity: 0.8;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 25%;
   padding: .25em;
}

.show-more h5 {
   font-size: 20px;
}


/*
.show-more {
  display: none;
}
*/





#yna {
   font-size: 16px;
}

/*each background image*/
.web-proj {
   width: 350px;
   height: 230px;
   display: flex;
   align-items: flex-end;
}



.web-proj:hover > .show-more {
   display: flex;
}

.show-more:hover {
background-color: #427693;
opacity: 1;
}

#conect-4 {
   background-image: url(../images/project-images/connect-four.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#Nami {
   background-image: url(../images/namireal.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#st-vin {
   background-image: url(../images/project-images/st-vincent.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#peaceof-heart {
   background-image: url(../images/project-images/peace-of-heart.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#coding-quiz {
   background-image: url(../images/project-images/coding-quiz.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#NBA-Highlights {
   background-image: url(../images/project-images/NBA-Highlights.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#workday-scheduler {
   background-image: url(../images/project-images/workday-scheduler.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#portfolio {
   background-image: url(../images/project-images/portfolio.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#random-password {
   background-image: url(../images/project-images/password-generator.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}


.web-projects-content {
   margin-bottom: 0.5em;
   width: 350px;
   background-color: #427693;
   padding: 0.5em;
}


.web-projects-content p {
   font-family: 'Oswald', sans-serif;
   color: white;
}

.web-proj-btn {
   border: none;
   background-color: white;
   color: #427693;
   border-radius: 25px;
   padding: 0.1em 1em;
  margin-top: 1rem;
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
  
}

.web-proj-btn:hover {
   background-color: #93424d;
   color: white;
}

.x-btn-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   
}


.x-btn div {
   background-color: white;
   width: 2px;
   height: 20px;
  
}
.x-btn {
   margin-right: 1.5rem;
}

.bar-1 {
   transform: translateY(10px) rotate(45deg);
}

.bar-2 {
   transform: translateY(-10px) rotate(-45deg);
}



.x-btn:hover > .bars {
   background-color: #93424d;
}


@media screen and (max-width: 576px) {
   #YAAANAtop {
      flex-direction: column;
      width: 95%;
   }

   #YAAANAbod {
      flex-direction: column-reverse;
      width: 95%;
      align-items: center;
   }

   #yaaana-pic-1 {
      width: 390px; 
      margin: 1.5em 0 0 0;
      padding: 0;
      border: 2px solid #e6e6e6;
   }

   #yaaana-logo {
      display: none;
   }

   #yaana-pic-2 {
      display: none;
   }

   #sitesandapps {
      flex-direction: column;
      align-items: center;
      width: 95%;
      margin: 0 auto;
      padding: 0.25em;
   }

   #yna {
     display: none;
   }
   #yna-2 {
      display: none;
   }

   #ynawork {
      display: none;
   }
   
   #yanbodrow1 {
      margin: 0;
   }

   #yaaanarow1 {
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

#yaaanarow1 h2 {
   font-size: 40px;
}

.show-more {
   display: flex;
   background-color: #427693;
   opacity: 1;
}

#yanbodrow2 {
   width: 85%;
}

#wdtop h1 {
   font-size: 35px;
   width: 80%;
   text-align: center;
   margin: 0 auto;
}

}

@media screen and (max-width: 400px) {
   #sitesandapps {
      width: 100%;
      margin: 0 auto;
      padding: 0.25em;
   }

   #yaaana-pic-1 {
      width: 325px;
   }

   .web-proj {
      width: 315px;
      height: 207px;
   }

   .web-projects-content {
      width: 315px;
   }

   
}